* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
:root{
    --scroll: 0;
    --titleSize: 4.8543rem;
    --colorMode: #000000;
    --inverseColorMode: #f1f1f1;
    --light: #f1f1f1;
    --dark: #000000;
    --colorCardsOuter: #26262659;
    --colorCardsInner: #000000;
}
/**************************************************
    :: navbar
**************************************************/
.navbar {
    background: transparent;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
}
.navbar_container{
    display: flex;
    height: 50px;
    background-color: black;
    align-items: center;
    justify-content: space-around;
    transition: all ease-in-out 0.3s;
    border-bottom: 1px solid var(--inverseColorMode);
}

.navbar_logo {
    display:flex;
    margin-left: 1rem;
}

.navbar_logo_img {
    width: 2rem;
    height: 2rem;
    transition: all ease-in 0.3s;
}

.navbar_menu {
    display: flex;
    list-style: none;
    margin-right: 1rem;

}

.navbar_menu_item {
    height: 40px;
}

.navbar_links {
    color: #F5F5F7;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 90;
    padding: 1rem;
}

.navbar_links:hover {
    color: #0067ff;
    text-decoration: none;
    font-weight: 90;
}

/**************************************************
    :: hero
**************************************************/

.hero {
    height: 100vh;
    width: 100%;
    background: #F5F5F7;
}

.hero_container {
    align-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.hero_container h1 {
    color: black;
    font-size: 18rem;
    letter-spacing: 0.05rem;
    font-weight: 555;
}

.hero_container p {
    color: black;
    font-size: 1.4rem;
    font-weight: 535;
    letter-spacing: -0.05rem;
}
@media screen and ( max-width: 425px ){
    .hero_container {
        display:flex;
        align-content: center;
        justify-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .hero_container h1 {
        padding-top: 0;
        font-size: 5rem;
        letter-spacing: -0.15rem;
    }

    .hero_container p {
        font-size: 1.4rem;
        font-weight: 545;
    }
}

@media screen and (max-width: 768px ) and ( min-width: 426px ){
    .hero_container {
        display:flex;
        align-content: center;
        justify-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .hero_container h1 {
        padding-top: 0;
        font-size: 4.5rem;
        letter-spacing: -0.15rem;

    }

    .hero_container p {
        font-size: 1.4rem;
        font-weight: 545;
    }
}

@media screen and ( max-width: 1024px ) and ( min-width: 769px) {
    .hero_container {
        display: flex;
        align-content: center;
        justify-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .hero_container h1 {
        padding-top: 0;
        font-size: 7.5rem;
        letter-spacing: -0.15rem;
    }

    .hero_container p {
        font-size: 1.4rem;
        font-weight: 545;
    }
}


/**************************************************
    :: about
**************************************************/

.about {
    height: 150vh;
    background-color: var(--colorMode);

    align-content: center;
    justify-content: center;
}
.about_title_container{
    background-color: var(--colorMode);
}
.about_title {
    color: slategray;
    font-size: 7rem;
    letter-spacing: -0.05rem;
    font-weight: 545;
    padding: 4rem;
}
.about_container {
    display: grid;
    height: 75%;
    width: 85%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.about_background {
    width: 75%;
    height:115%;
    position: absolute;
    align-self: center;
    justify-self: center;
    opacity: 0.90;
    filter: blur(20px);
}

.grid-item {
    display:flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid rgba(42, 42, 42, 1.81);
    padding: 2.4rem;
    border-radius: 0.5rem;
    z-index: 2;
    background-image: radial-gradient(var(--colorCardsOuter), var(--colorCardsInner));
    height: 100%;
    width: 100%;
}


.grid-item p,.grid-item-5 p {
    color: var(--inverseColorMode);
    font-size: 1rem;
    font-weight: 555;
    padding: 1rem;
}

.inner_border {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(42, 42, 42);
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.inner_border h1{
    color: var(--inverseColorMode);
    font-size: 6rem;
    opacity: 1;
}

.inner_border svg {
    color: var(--inverseColorMode)
}

.grid-item-5 h1{
    font-size: 3rem;
    letter-spacing: -0.10rem;
    font-weight: 555;
}

@media screen and (max-width:  768px) {
    .about {
        display: flex;
        height: 100%;
        width: 100%;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    .about_title {
        font-size: 5rem;
        padding: 6rem 2rem 2rem;
    }
    .about_container {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .about_background {
        display: none;
    }
    .grid-item {
        padding: 1rem;
        border-radius: 0.5rem;
        width: 85%;
    }
    .grid-item-5 h1{
        color: var(--inverseColorMode);
        font-size: 3rem;
        letter-spacing: -0.10rem;
        font-weight: 545;
    }
    .grid-item:nth-child(6){
        display:none;
    }
    .grid-item-5 p {
        color: var(--inverseColorMode);
        font-size: 1rem;
        font-weight: 535;
        letter-spacing: -0.05rem;
    }
}

@media screen and (max-width:  1024px) {
    .about {
        display: flex;
        height: 100%;
        width: 100%;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    .about_title {
        font-size: 5rem;
        padding: 6rem 2rem 2rem;
    }
    .about_container {
        align-items: center;
        justify-content: center;
        justify-items: center;
        height: 100%;
        width: 95%;
    }
    .grid-item {
        padding: 1rem;
        border-radius: 0.5rem;
        width: 85%;
    }

    .about_background {
        width: 100%;
        height: 90%;
    }

    .inner_border h1 {
        font-size: 4rem;
    }
    .grid-item-5 h1{
        color: var(--inverseColorMode);
        font-size: 2rem;
        letter-spacing: -0.10rem;
        font-weight: 545;
    }
    .grid-item-5 p {
        color: var(--inverseColorMode);
        font-size: 1rem;
        font-weight: 535;
        letter-spacing: -0.05rem;
    }
}

/**************************************************
    :: portfolio
**************************************************/


.portfolio {
    margin: auto;
    height: 100vh;
    width: 100%;
    background: var(--colorMode);
}

.portfolio h1 {
    color: var(--inverseColorMode);
    font-size: var(--titleSize);
    letter-spacing: 0.05rem;
    font-weight: 555;
    padding: 3rem;
}

.portfolio_container {
    display: grid;
    height: 75%;
    width: 90%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.portfolio_container_element {
    display:flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid rgba(42, 42, 42);
    padding: 2.4rem;
    border-radius: 0.5rem;
    z-index: 2;
    background-image: radial-gradient(var(--colorCardsOuter), var(--colorCardsInner));
    height: 100%;
    width: 100%;
}

.portfolio_container_element h1 {
    color: var(--inverseColorMode);
    font-size: 2rem;
    font-weight: 555;
    padding: 1rem;
    filter: blur(5px);
}
.portfolio_container_element p {
    color: var(--inverseColorMode);
    font-size: 1rem;
    font-weight: 555;
    padding: 1rem;
}

.portfolio_container_element_logo {
    border-radius: 0.5rem;
    width: 75%;
    height: 50%;
    margin: 0.3rem auto 1rem auto;
}
.portfolio_container_element_logo img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    filter: blur(5px);
}


@media screen and (max-width: 768px) {
    .portfolio {
        display: flex;
        flex-direction: column;
        height: 75%;
        width: 100%;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    .portfolio h1 {
        font-size: 5rem;
        padding: 6rem 2rem 2rem;
    }
    .portfolio_container {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .portfolio_container_element {
        padding: 1rem;
        border-radius: 0.5rem;
        width: 85%;
    }
    .portfolio_container_element h1 {
        font-size: 2rem;
        font-weight: 555;
    }
    .portfolio_container_element p {
        font-size: 1rem;
        font-weight: 555;
    }
    .portfolio_container_element_logo {
        width: 75%;
        margin: 0.3rem auto 1rem auto;
    }
    .portfolio_container_element_logo img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
    }

}

@media screen and (max-width: 1024px) {
    .portfolio {
        display: flex;
        flex-direction: column;
        height: 75%;
        width: 100%;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    .portfolio h1 {
        font-size: 5rem;
        padding: 6rem 2rem 2rem;
    }
    .portfolio_container {
        align-items: center;
        justify-content: center;
    }
    .portfolio_container_element h1 {
        font-size: 2rem;
        font-weight: 555;
    }
    .portfolio_container_element p {
        font-size: 1rem;
        font-weight: 555;
    }
    .portfolio_container_element_logo {
        width: 75%;
        margin: 0.3rem auto 1rem auto;
    }
    .portfolio_container_element_logo img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
    }

}

/**************************************************
    :: contact
**************************************************/

.contact {
    background: var(--colorMode);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contact h1{
    color: var(--inverseColorMode);
    font-size: var(--titleSize);
    margin: 6rem 0 0 2rem;
}

.contact-container {
    width: 75%;
    display: flex;
    margin: auto;
}

.contact-container-iframe {
    float: left;
}


.contact-container-list {
    float: right;
    list-style: none;
    margin-right: 10rem;
}

.contact-container-list-element {
    border: 2px solid rgba(42, 42, 42, 1.81);
    border-radius: 1rem;
    padding: 2rem 5rem;
    margin: 1rem;
}

.contact-container-list-element a {
    color: var(--inverseColorMode);
    text-decoration: underline;
    font-size: 2rem;
    font-weight: 545;
}


.contact-container-list-element p {
    color: var(--inverseColorMode);
    font-size: 2rem;
    font-weight: 555;
}

@media screen and (max-width: 768px) {
    .contact {
        background: var(--colorMode);
        height: 100vh;
    }

    .contact h1{
        color: var(--inverseColorMode);
        font-size: var(--titleSize);
        margin: 4rem 2rem 1rem;
    }

    .contact-container {
        display: grid;
        row-gap: 1rem;
        align-self: center;
        margin: 0;
    }

    .contact-container-iframe {
        float: none;
    }
    .contact-container-iframe iframe {
        width: 90%;
    }

    .contact-container-list {
        float: none;
        margin:0;
        list-style: none;
    }

    .contact-container-list-element {
        border: 2px solid rgba(42, 42, 42, 1.81);
        border-radius: 1rem;
        padding: 1rem;
        margin: 0;
    }

    .contact-container-list-element a {
        color: var(--inverseColorMode);
        text-decoration: underline;
        font-size: 1.5rem;
        font-weight: 545;
    }


    .contact-container-list-element p {
        color: var(--inverseColorMode);
        font-size: 1.5rem;
        font-weight: 545;
    }
}

@media screen and (max-width: 1024px) {
    .contact-container {
        display: grid;
        row-gap: 2rem;
        align-self: center;
    }

    .contact-container-iframe {
        float: none;
    }
    .contact-container-iframe iframe {
        width: 100%;
    }

    .contact-container-list {
        float: none;
        margin:0;
        list-style: none;
    }

    .contact-container-list-element {
        border: 2px solid rgba(42, 42, 42, 1.81);
        border-radius: 1rem;
        padding: 1rem 0 1rem 1rem;
        margin: 0;
    }

    .contact-container-list-element a {
        color: var(--inverseColorMode);
        text-decoration: underline;
        font-size: 1.5rem;
        font-weight: 545;
    }
}

/**************************************************
    :: vision-switch
**************************************************/
.toggle-switch {
    display:flex;
    position: relative;
    width: 50px;
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: gray;
    border-radius: 15px;
    cursor: pointer;
}

.checkbox {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 7px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-box-shadow: inset 4px -2px 0 0 var(--light);
    box-shadow: inset 4px -2px 0 0 var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
    background-color: #ffa600;
    -webkit-box-shadow: none;
    box-shadow: none;
}