* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "apple-system", sans-serif;
    scroll-behavior: smooth;
    z-index: 999;
}

/*
    SCROLLBAR
 */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #1d1d1f;
    color: black;
}
::-webkit-scrollbar-thumb {
    background-color: #86868b;
    border-radius: 0.5rem;
}
:root {
    --black-color: black;
    --white-color: #f5f5f7;
    --gray-color: #1d1d1f;
}
:root .theme-dark {
    --router-wrapper-bg-color: black;
    --router-item-bg-color: #1d1d1f;
}
/***********************************************
 NAVBAR
***********************************************/
.navbar {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 0;
    z-index: 999;
}

.navbar__container {
    height: 4rem;
    width: 1200px;
    background-color: var(--gray-color);
    border-radius: 0.2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo h2{
    font-size: 1.2rem;
    color: var(--white-color);
    font-weight: 600;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
    padding-left: 1.76rem;
    opacity: 0.67;
    transition: all 0.1s ease-out;
    cursor: none;
    filter: drop-shadow(1px 1px 5px var(--black-color));
}
.navbar__container h2:hover{
    opacity: 1;
    transition: all 0.1s ease-out;
}
.navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.76rem;
}

.navbar__logo-img {
    resize: block;
    height: 3rem;
    width: 3rem;
    image-rendering: smooth;
 }

.navbar__container ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.navbar__container ul li a{
    text-decoration: none;
    padding-right: 1.76rem;
    color: var(--white-color);
    transition: all 0.1s ease-in;
    font-size: 0.8rem;
}
.navbar__container ul li a:hover {
    color: #2997ff;
    transition: all 0.1s ease-out;
}

/***********************************************
 ABOUT
***********************************************/
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(0,0,0);
}

.about__container {
    z-index: 1;
    width: 100%;
    justify-items: center;
    align-items: center;
    height: 75%;
    border-radius: 1rem;
    opacity: 0.95;

    display: flex;
    flex-direction: column;
}

.about__content {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    height: 57%;
}

.about__content h1 {
    font-size: 80px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #f5f5f7;
    margin-bottom: 1rem;
    filter: drop-shadow(1px 1px 5px var(--gray-color));
}

.about__content__text {
    font-size: 1.5rem;
    line-height: 1.1428571429;
    font-weight: 600;
    letter-spacing: .007rem;
    color: #86868b;
}

/***********************************************
 SERVICES
***********************************************/

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(0,0,0);
}
.services__container {
    z-index: 1;
}

.services__content li{
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    float: left;
}

.Software_img {
    height: 8rem;
    width: 8rem;
    margin-bottom: 2rem;
    filter: drop-shadow(10px -5px 0px mediumblue);
    box-shadow: 0 0 5rem 0.5rem mediumblue;
    background: radial-gradient(rgba(0,0,205, 1),rgba(0,0,205, 0.33)) ;
    background-blend-mode: soft-light;
}
.Web_img {
    height: 8rem;
    width: 8rem;
    margin-bottom: 2rem;
    filter: drop-shadow(10px -5px 0px purple);
    box-shadow: 0 0 5rem 0.5rem purple;
    background: radial-gradient(rgba(128,0,128, 1),rgba(128,0,128, 0.33)) ;
    background-blend-mode: soft-light;
}

.services__content li h1 {
    font-size: 2.4rem;
    padding: 0.25rem;
    color: #f5f5f7;
    font-weight: 600;
    letter-spacing: 0.01rem;
}

.softH1{
    background: radial-gradient(#008cff 50%, #0000CDFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.webH1 {
background: radial-gradient(#c404c4 50%, #570057 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services__content li pre{
    padding:1rem;
    letter-spacing: 0.0005rem;
    text-align: center;
}

.services__content {
    font-size: 2rem;
    color: #f5f5f7;
}

.services__content pre{
    font-size: 0.9rem;
    color: #86868b;
    font-weight: 600;
    letter-spacing: 0.01rem;
}

/***********************************************
 PORTFOLIO
***********************************************/

.portfolio {
    background: var(--black-color);
    display:flex;
    width: 100%;
    height: 100vh;
}

.portfolio__container {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.portfolio__content {
    display-model: flex;
    width: 1200px;
    opacity: 0.90;
    border-radius: 0.5rem;
}
.portfolio__container h1 {
    color: var(--white-color);
    padding: 1.2rem;
    margin-left: 4rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: all 0.1s ease-out;
    cursor: none;
    filter: drop-shadow(1px 1px 5px var(--black-color));
}

.portfolio__content ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style: none;
    justify-content: right;
    width: 100%;
    margin-bottom: 1rem;
}
.portfolio__content ul li{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
.portfolio__content ul li p {
    font-size: 1.2rem;
    color: var(--white-color);
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: all 0.1s ease-out;
    cursor: none;
    filter: drop-shadow(1px 1px 5px var(--black-color));
}

.barDev {
    display: block;
    color: var(--white-color);
    height: 5px;
    width: 450px;
    border-radius: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background: linear-gradient(90deg, #020024 0%, #090979 20%, #00d4ff 100%);
    transition: width 1.5s ease;
    cursor: none;
    filter: drop-shadow(1px 1px 5px #090979);
    box-shadow: 0 0 5rem 0.05rem var(--black-color);
}

.barWeb {
    display: block;
    color: var(--white-color);
    height: 5px;
    width: 450px;
    border-radius: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background: linear-gradient(90deg, rgba(60,0,60, 1)0%,rgba(128,0,128, 1)20%, rgb(255, 0, 255)100%);
    transition: width 1.5s ease;
    cursor: none;
    filter: drop-shadow(1px 1px 5px #800080F1);
    box-shadow: 0 0 5rem 0.05rem var(--black-color);
}
.icon {
    height: 4.5rem;
    width: 4.5rem;
    margin: 0.25rem 2rem 0 1rem;
    filter: drop-shadow(1px 1px 5px var(--black-color));
    object-fit: fill;
}

/***********************************************
 CONTACT
***********************************************/

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--black-color);
}

.contact__container {
    z-index: 1;
    width: 1200px;
    align-content: center;
    align-items: center;
    height: 85%;
    border-radius: 1rem;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
}

.contact__container h1{
    font-size: 4rem;
    color: var(--white-color);
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: all 0.1s ease-out;
    cursor: none;
    filter: drop-shadow(1px 1px 5px var(--black-color));
    padding: 0.55rem
}

.contact__content {
    display:flex;
    width: 75%;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.contact__content li{
    display:flex;
    flex-wrap: wrap;
    margin: 1rem;
}

.contact__content li pre {
    color: var(--white-color);
    font-size: 1.45rem;
    font-weight: 600;
    letter-spacing: 0.01rem;
}

.contact__content li a {
    text-decoration: underline;
    color: var(--white-color);
    font-size: 1.45rem;
    font-weight: 600;
    letter-spacing: 0.01rem;
}

.mapsLocationFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.icon_contact {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    filter: drop-shadow(1px 1px 5px var(--black-color));
}
/***********************************************
 MEDIA QUERIES
***********************************************/
/* 1400px */
@media screen and (max-width: 980px ) {
    /***********************************************
     NAVBAR MEDIA 1500px
    ***********************************************/
    .navbar__container {
        height: 5rem;
        width: 75%;
        border-radius: 0.2rem;
    }
    .navbar__logo h2{
        font-size: 1.2rem;
        color: var(--white-color);
        padding-left: 1rem;
    }
    .navbar__logo {
        padding-left: 1rem;
    }

    .navbar__logo-img {
        resize: block;
        height: 3.5rem;
        width: 3.5rem;
        image-rendering: smooth;
    }

    .navbar__container ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }
    .navbar__container ul li a{
        text-decoration: none;
        padding-right: 1.5rem;
        transition: all 0.1s ease-in;
        font-size: 1.2rem;
    }
    .navbar__container ul li a:hover {
        color: #2997ff;
        transition: all 0.1s ease-out;
    }
    /***********************************************
     ABOUT MEDIA 1500px
    ***********************************************/

    .about__content {
        width: 100%;
        height: 75%;
    }

    .about__content h1 {
        font-size: 6rem;
    }

    .about__content__text {
        font-size: 2rem;
    }

    /***********************************************
     SERVICES MEDIA 1500px
    ***********************************************/


    .services__content li{
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        float: left;
        margin: 0 0 3rem;
    }

    .Software_img {
        height: 16rem;
        width: 16rem;
        filter: none;
        box-shadow: 0 0 5rem 0.125rem mediumblue;
        background: radial-gradient(rgba(0,0,205, 1),rgba(0,0,205, 0.295)) ;
    }

    .Web_img {
        height: 16rem;
        width: 16rem;
        filter: none;
        box-shadow: 0 0 5rem 0.125rem purple;
        background: radial-gradient(rgba(128,0,128, 1),rgba(128,0,128, 0.33)) ;
    }

    .services__content li h1 {
        font-size: 4.5rem;
        padding: 1rem;
        color: #f5f5f7;
        font-weight: 600;
        letter-spacing: 0.01rem;
    }

    .services__content li pre{
        padding:2rem;
        }

    .services__content li pre{
        font-size: 1rem;
    }

    /***********************************************
     PORTFOLIO MEDIA 1500px
    ***********************************************/

    .portfolio {
        background: var(--black-color);
        display:flex;
        width: 100%;
        height: 100vh;
        justify-content: center;
    }

    .portfolio__container {
        width: 99%;
        align-items: center;
    }

    .portfolio__content {
        height: 50%;
    }

    .portfolio__container h1 {
        padding: 2rem;
        font-size: 5rem;
    }

    .portfolio__content ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        list-style: none;
        justify-content: right;
        width: 100%;
        margin-bottom: 1rem;
    }
    .portfolio__content ul li{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-items: center;
        align-items: center;
        margin: 0.75rem 1rem;
    }
    .portfolio__content ul li p {
        display: none;
    }

    .barDev {
        height: 30px;
    }

    .barWeb {
        height: 30px;
    }
    .icon {
        height: 6rem;
        width: 6rem;
    }

    /***********************************************
     CONTACT MEDIA 1500px
    ***********************************************/

    .contact__container {
        width: 85%;
        height: 45%;
        margin-bottom: 25rem;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .contact__container h1{
        font-size: 4rem;
    }

    .contact__content {
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .contact__content li{
        margin: 1rem;
    }

    .contact__content li pre {
        font-size: 2rem;
    }

    .contact__content li a {
        font-size: 2rem;
    }


}
